$body-font-family: 'Poppins';
$heading-font-family: 'Poppins';
// $border-radius-root: 6px;
// $font-size-root: 14px;

$headings: (
    'h1': ('size': 3.3125rem,'line-height': 1.15em),
    'h2': ('size': 2.25rem,'line-height': 1.5em),
    'h4': ('size':1.061rem,'line-height':1.591rem)

        //  h1 - h6: {
        //     size: 20px, weight: 500, line-height: 1, letter-spacing: .02em, font-family: $heading-font-family
        //  }
        //  ,
        //  subheading,body-2,body-1,caption,button: {
        //      size: 16px, weight: 400
        //  }    
);

#app {
    font-family: $body-font-family !important;
}